<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Star Controller!</title>
</head>
<body>
<table style="background-color: #24a704;">
<tbody>
<tr>
<td><form id="on" action="/on"><input style="text-align: center;" type="submit" value="ON" /></form></td>
</tr>
<tr>
<td><form id="off" action="/off"><input style="text-align: center;" type="submit" value="OFF" /></form></td>
</tr>
<tr>
<td><form id="twinkle" action="/twinkle"><input style="text-align: center;" type="submit" value="TWINKLE" /></form></td>
</tr>
<tr>
<td><form id="breathe" action="/breathe"><input style="text-align: center;" type="submit" value="BREATHE" /></form></td>
</tr>
</tbody>
</table>
</body>
</html>